In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
for i in range(27):
  file = pd.read_csv('/content/drive/My Drive/clash/battle_data_'+str(i+10)+'.csv')
  df = pd.concat([df,file])

In [ ]:
df = df.loc[df['type'] == "PvP"]

In [ ]:
df

,type,gameMode,crowns1,cards1,startingTrophies2,crowns2,cards2
0,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",1.0,"[{'name': 'Knight', 'id': 26000000, 'level': 1...",5854.0,0.0,"[{'name': 'Minions', 'id': 26000005, 'level': ..."
1,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",1.0,"[{'name': 'Knight', 'id': 26000000, 'level': 1...",5836.0,0.0,"[{'name': 'Sparky', 'id': 26000033, 'level': 6..."
2,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",2.0,"[{'name': 'Knight', 'id': 26000000, 'level': 1...",5826.0,1.0,"[{'name': 'Earthquake', 'id': 28000014, 'level..."
3,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",1.0,"[{'name': 'Knight', 'id': 26000000, 'level': 1...",5830.0,2.0,"[{'name': 'The Log', 'id': 28000011, 'level': ..."
4,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",1.0,"[{'name': 'Knight', 'id': 26000000, 'level': 1...",5802.0,0.0,"[{'name': 'Furnace', 'id': 27000010, 'level': ..."
...,...,...,...,...,...,...,...
29972,PvP,"{'id': 72000006, 'name': 'Ladder'}",0.0,"[{'name': 'Mega Knight', 'id': 26000055, 'leve...",5620.0,1.0,"[{'name': 'Lumberjack', 'id': 26000035, 'level..."
29973,PvP,"{'id': 72000006, 'name': 'Ladder'}",1.0,"[{'name': 'Mega Knight', 'id': 26000055, 'leve...",5590.0,0.0,"[{'name': 'Royal Giant', 'id': 26000024, 'leve..."
29976,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",1.0,"[{'name': 'Mega Knight', 'id': 26000055, 'leve...",5558.0,0.0,"[{'name': 'Skeleton Barrel', 'id': 26000056, '..."
29977,PvP,"{'id': 72000044, 'name': 'Ladder_GoldRush'}",2.0,"[{'name': 'Mega Knight', 'id': 26000055, 'leve...",5525.0,1.0,"[{'name': 'Balloon', 'id': 26000006, 'level': ..."
29980,PvP,"{'id': 72000006, 'name': 'Ladder'}",0.0,"[{'name': 'Mega Knight', 'id': 26000055, 'leve...",5562.0,1.0,"[{'name': 'Wizard', 'id': 26000017, 'level': 1..."

In [ ]:
df.to_csv('/content/drive/My Drive/clash/cleaned_clash_data_1.csv', index=False)